body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff; 
  min-height: 100vh;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
  background-color: #FECC57;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  transition: opacity 0.5s ease;
}

.carousel-item:not(:first-child) {
  opacity: 0;
}

.carousel-item img {
  width: 100%;  
  height: 30vh;
  object-fit: cover;
}

.info {
  height: 100%;
  box-sizing: border-box;
}

.info p {
  margin: 0;
  padding: 0;
  background-color: #F4D58D;
  height: 100%;
  margin: 8px;
  padding: 8px;
}

.info h1 {
  text-align: center;
  font-size: 1.25rem;
}